[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
cython = "*"
cassandra-driver = "*"
flask = "*"
backports-weakref = "*"
connexion = {extras = ["swagger-ui"],version = "*"}
fastavro = "*"
pylint = "*"
pyyaml = "*"
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "2.7"
